<a href="https://colab.research.google.com/github/Mani8217/Awesome-Profile-README-templates/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables

In [ ]:
num = 1
# String
mi_nombre = "Mani"
# Boolean
mi_booleano = True
# Real
payment = 30.00
#Lista
alumnos = ["Mani" , "vada" , "Pepe", "Camila"]
alumnos_tupla = ("Mani" , "Camila" , "Pepe" , "Vada")
alumnos_diccionario = {"nombre": "Mani" , "curso" : "AI" , 'idioma' : "Español"}

Operadores

In [ ]:
sum = 2 + 2
resta = 2 - 1
division = 4 / 2
multiplicación = 2 * 2
es_mayor = 1 > 2
es_mayor_igual = 1 <= 2

Funciones

In [ ]:
def greeting(name):
  print(f'Hello, {name}')
greeting('Mani')

Loops

# For

In [ ]:
for i in alumnos:
  print(i)

In [19]:
alumnos = ['Mani' , 'Pepe' , 'Anca' , 'Vada']

for i in range(2):
  print(alumnos[i])

Mani
Pepe

While

In [18]:
alumnos = ['Mani' , 'Pepe' , 'Anca' , 'Vada']

i = 0

while i <= 2:
  print(alumnos[i])
  i += 1

Mani
Pepe
Anca

**Condiciónales**

In [ ]:
es_mayor_de_edad = False
def age_legal(age):
  if age >= 18:
    print("Es usted mayor de edad")
    es_mayor_de_edad = True
  elif age < 18:
    print("es usted No Mayor de edad")
    es_mayor_de_edad = False

age_1 = 17
age_2 = 19
age_legal(age_1)

Calculador

In [ ]:
def sum(num1 , num2):
   return num1 + num2

def subtraction(num1 , num2):
  return num1 - num2

def multiplicacion(num1 , num2):
  return num1 * num2

def division(num1, num2):
  if num2 == 0:
    return print("Error, you can't divid by 0")
  else:
    return num1 / num2

In [ ]:
def calculater():
  print("Bienvenida a la calculadora")
  print("Operaciones disponibles")
  print("1: suma")
  print("2: Resta")
  print("3: multiplicación")
  print("4: divición")

  num1 = float(input("What's num1: "))
  num2 = float(input("What's num2: "))

  while True:
    option = input("Seleccione una operacion (1-4 o 0 para salir)")

    if option == "Q":
      print("Bye bye!")
      break

    if option not in ["1" , "2" , "3" , "4"]:
      print("Por favor eliga entre 1, 2, 3, 4")
      continue

      #num1 = float(input("number 1: "))
      #num2 = float(input("number 2: "))

    if option == "1":
      print(sum(num1 , num2))


    elif option == "2":
      print(subtraction(num1 , num2))

    elif option == "3":
      print(multiplicacion(num1 , num2))


    elif option == "4":
      print(division(num1 , num2))


calculater()

Bienvenida a la calculadora
Operaciones disponibles
1: suma
2: Resta
3: multiplicación
4: divición